/* All */
html, body {
    scroll-behavior: smooth;
}
.section-pad {
    padding: 100px 0;
}

/* Nav Bar */
nav .nav-link {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    color: #363f41;
    margin-right: 1.1rem;
    transition: 0.3s;
}
nav .nav-link:hover {
    transform: translateY(-3px);
    transition: 0.3s;
}
.navbar-styles {
    border-bottom: 0.8px solid #00000010 !important;
}

/* Side Bar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
@media (max-width: 767.98px) {
    #brand {
        margin-right: 0;
    }
    .sidebar {
        padding: 0 0 0;
        top: 3.1rem;
    }
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}
#sidebar {
    --bs-gutter-x: 0;
}
.navbar-dark .nav .nav-link {
    color: rgba(255,255,255,.55);
}
.navbar-dark .nav .nav-link:focus, .navbar-dark .nav .nav-link:hover {
    color: rgba(255,255,255,.75);
}

/* Admin Dashboard */
.icon {
    padding: 15px;
    color: white;
    min-width: 50px;
    text-align: center;
    background: transparent;
}
.dashboard-card {
    text-decoration: none;
}
.dashboard-card .card-body:hover {
    text-decoration: none;
    color: white;
    background-color: #777;
    border-radius: .25rem;
}

/* Main Content */
.section-welcome {
    background-color: rgb(34, 32, 32);
}
.section-about {
    background-color: rgb(27, 27, 27);
}
.section-welcome .col-logo {
    background-color: rgb(48, 48, 48);
}
.section-creator {
    background-color: rgb(36, 34, 34);
}
.section-welcome .col-text { 
    text-align: justify;
}
.section-about .col-ask-title .ask-title {
    font-weight: bold;
    text-align: justify;
}
.section-about .col-ask-form .form-control {
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 1px 5px 5px #888888;
            box-shadow: 1px 5px 5px #888888;
}
.section-about .col-ask-form .tell-us-form {
    height: 5rem;
}
.lesson-wrap-1 {
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    transition: background-color .5s, transform .8s, box-shadow .5s, color .5s;
    color: white;
    background-color: rgb(37, 37, 37);
}
.lesson-wrap-1:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 5px #333;
    color: #fff;
    text-decoration: none;
}
#lesson-btn {
    text-decoration: none;
}
.lesson-wrap-1 h1 {
    font-size: 26px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    margin-top: 20px;
    font-weight: 800;
}
.lesson-wrap-1 p {
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 2px;
    width: 180px;
    text-decoration: none;
}

/* About Content */
#aboutp {
    background-color: rgb(27, 27, 27);
}
#aboutp p {
    text-align: justify;
}
#asset-1-about {
    max-width: 45vh;
}
#aboutp h3 {
    font-weight: 600;
    font-size: 3.2rem;
}

/* Term of Services, Privacy Policy, Disclaimer */
#term {
    background-color: rgb(27, 27, 27);
}
#term .nav-link{
    font-family: 'Catamaran', sans-serif;
}
#term li p{
    font-family: 'Nunito', sans-serif;
}
#term .nav-link{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    margin-right: 1.1rem;
    transition: 0.3s;
    margin: 4px;
}
#term .nav-link:hover {
    color: white;
    transform: translateY(-3px);
    transition: 0.3s;
}
.tab-content {
    margin-left: 10px;
}

/* Contact Content */
.contact {
    background-color: rgb(27, 27, 27);
}
.contact h1 {
    font-weight: 600;
    font-size: 3.2rem;
}
.contact i {
    font-size: 3rem;
}
.contact a {
    font-style: none;
    text-decoration: none;
    color: rgba(255,255,255,.55);
    cursor: pointer;
    transition: .3s;
}
.contact a:hover {
    color: rgba(255,255,255,.75);
    transition: .3s;
}
.contact .card {
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
    border-radius: 13px;
}

/* Footer */
.footer-style {
    border-top: 0.8px solid #00000010 !important;
}
footer .section-footer .col-text {
    text-align: justify;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer ul li {
    margin-top: 5px;
}
footer ul li a {
    color: rgba(255,255,255,.55);
    transition: 0.3s;
    font-size: 1.1rem;
    text-decoration: none;
}
footer ul li a:hover {
    color: rgba(255,255,255,.75);
    transition: 0.3s;
    text-decoration: none;
}
footer .menu {
    padding-left: 50px;
}
#contact a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    text-decoration: none;
}
#contact a:hover {
    background: #ddd;
    color: black;
    text-decoration: none;
}

/* Mobile version */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* About Content */
    #aboutp{
        text-align: center;
    }
    
    /* Team Content */
    .team .col-md-3 {
        margin-bottom: 40px;
    }
    
    /* Footer */
    footer{
        padding: 0px 20px;
    }
    footer .section-footer, footer .section-footer .row .col-text {
        text-align: center;
    }
    footer .section-footer .row .col-xs-12{
        margin-bottom: 40px;
    }
    .p-footer{
        padding: 0px 30px;
    }
    .copy-right{
        text-align: center;
    }
    footer .menu{
        padding-left: 0px;
    }
}
